.custom-navbar {
  background-color: #2F4F4F; /* Графитовый цвет */
}

.navbar-button {
  color: white;
  text-transform: none;
}

.navbar-button.active {
  border-bottom: 2px solid #9e3598; /* Золотая подсветка активной кнопки */
  color: #9e3598;
}